@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --background-main: hsl(210, 46%, 95%);
  --background-card: hsl(0, 0%, 100%);
  --font1: Manrope;
  --font-header-sz: 20px;
  --font-name-sz: 16px;
  --font-header-clr: hsl(217, 19%, 35%);
  --font-description-sz: 14px;
  --font-description-clr: hsl(214, 17%, 51%);
  --share-btn: rgb(240, 240, 240);
  --share-btn-hover: hsl(214, 25%, 82%);
  --share-btn-active: hsl(212, 23%, 69%);
  --share-pop-up: hsl(217, 19%, 35%);
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  position: relative;
  padding: 1.5rem;
  background: var(--background-main);
  font-family: var(--font1);
}

main {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  max-width: 48rem;
}

.card {
  display: flex;
  inset: 0;
  background: var(--background-card);
  box-shadow: 0.5rem 0.5rem 1rem 0 #0002;
  border-radius: 0.5rem;
  position: relative;
}

.card-image {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  position: relative;
}

.card-image > img {
  display: block;
  height: 100%;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  position: relative;
}

.card-content > .card-title {
  font-size: var(--font-header-sz);
  color: var(--font-header-clr);
}

.card-content > .card-description {
  font-size: var(--font-description-sz);
  color: var(--font-description-clr);
  margin-block: 1rem;
}

.card-footer {
  display: flex;
  width: 100%;
}

.card-profile {
  display: flex;
  height: 100%;
  height: 4rem;
  gap: 0.75rem;
  align-items: center;
}

.card-profile > .card-image {
  border-radius: 50%;
  overflow: hidden;
}

.card-profile-texts {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
}

.card-profile-name {
  font-size: var(--font-name-sz);
  color: var(--font-header-clr);
}

.card-profile-date {
  font-size: var(--font-description-sz);
  color: var(--font-description-clr);
}

.card-share {
  display: flex;
  align-items: center;
}

.share-btn {
  padding: 0.9rem;
  height: 75%;
  aspect-ratio: 1;
  background: var(--share-btn);
  border-radius: 50%;
  border: none;
  transition: background 0.2s ease-in-out;
}

.share-btn:hover {
  background: var(--share-btn-hover);
}

.active-btn {
  background: var(--share-btn-active);
}

.active-btn > img {
  filter: brightness(0) invert(1);
  transition: all 0.2s ease-in-out;
}

.share-btn > img {
  height: 100%;
}

.share-pop-up {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.share-pop-up > p {
  font-size: var(--font-description-sz);
  letter-spacing: 0.5rem;
  color: white;
}

.share-pop-up > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  aspect-ratio: 1;
}

.share-pop-up > a > img {
  cursor: pointer;
  height: 100%;
}

@media (max-width: 812px) {
  .wrapper {
    max-width: 768px;
    margin-block: 3rem;
  }

  .card {
    max-width: 23rem;
    flex-direction: column;
  }

  .card-content {
    margin-bottom: 4.5rem;
  }

  .card-image > img {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card-footer {
    position: absolute;
    bottom: -4.5rem;
    left: 0;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;
  }

  .share-btn {
    z-index: 2;
    position: absolute;
    height: 50%;
    right: 0;
    margin: 1rem;
    margin-right: 2rem;
  }

  .share-pop-up {
    z-index: 1;
    position: absolute;
    left: 0;
    background: var(--share-pop-up);
    height: 100%;
    width: 100%;
    padding: 2rem;
    transform: translateY(100%);
  }

  .share-pop-up > p {
    font-size: 1.25rem;
  }

  .share-pop-up-show {
    transform: translateY(0);
  }
}

@media (min-width: 813px) {
  .wrapper {
    margin-inline: 3rem;
  }

  .card-image > img {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .card-footer {
    position: relative;
    margin-top: auto;
  }

  .card-share {
    margin-left: auto;
    aspect-ratio: 1;
    justify-content: center;
  }

  .share-pop-up {
    position: absolute;
    justify-content: center;
    margin-bottom: 10rem;
    padding: 1rem;
    padding-inline: 2.25rem;
    background: var(--share-pop-up);
    border-radius: 0.5rem;
    transform-origin: bottom;
    opacity: 0;
  }

  .share-pop-up:before {
    content: "";
    height: 0;
    width: 0;
    bottom: -1rem;
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-top: 1rem solid var(--share-pop-up);
    position: absolute;
    background: white;
  }

  .share-pop-up-show {
    opacity: 1;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem;
  display: block;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}